@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}




@layer base {



  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: theme("colorsDefault.red");
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-screen-xl
  }
}

@layer utilities {

  .colorsDefault {
    background-color: blue;
  }

  .container {


    @apply mx-auto max-w-screen-xl 

  }

  .liItem {
    @apply bg-red-500 p-2 rounded-lg;

  }

  .btn {
    @apply capitalize p-1 rounded text-xs outline outline-1;
    
  }
}